/* 头尾各个页面相同的样式 */
/* 版心 */
.wrapper {
  margin: 0 auto;
  width: 1240px;
}

/* 快捷导航 shortcut */
.shortcut {
  height: 52px;
  background-color: #333;
}
.shortcut .wrapper {
  display: flex;
  justify-content: flex-end;
  height: 52px;
}
.shortcut ul{
  height: 52px;
  display: flex;
}
.shortcut li{
  margin-top: 20px;
  height: 14px;
  padding: 0 15px;
  border-right: 0.5px solid #999;
}
.shortcut li:last-child{
  border: none;
}
.shortcut li a{
  display: block;
  color: #fff;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
}
.shortcut li a:hover{
  color: #5EB69C;
}
.shortcut li span{
  vertical-align: middle;
}

/* 头部区域 header */
.header{
  display: flex;
  height: 88px;
  margin-top: 22px;
  margin-bottom: 22px;
}
/* logo区域 */
.header .logo{
  width: 200px;
  margin-right: 40px;
  background-image: url(../images/logo.png);
}
.header h1 a{
  display: block;
  width: 200px;
  height: 88px;
  font-size: 0;
}
/* 导航区域 */
.nav{
  margin-top: 33px;
  margin-right: 28px;
}
.nav ul{
  display: flex;
  /* justify-content: space-between; */
}
.nav li{
  margin-right: 48px;
}
.nav a{
  display: block;
  padding-bottom: 8px;
}
.nav a:hover{
  border-bottom: 2px solid #5EB69C;
  color: #5EB69C;
}
/* 搜索区域 */
.search{
  display: flex;
  margin-top: 33px;
  margin-right: 27px;
  width: 170px;
  height: 34px;
  border-bottom: 2px solid #F4F4F4;
  padding-bottom: 4px;
}
.search .iconfont{
  font-size: 18px;
  color: #ccc;
  margin-right: 8px;
}
.search input{
  /* input有默认宽度，需要西安重置宽度为0 */
  width: 0;
  flex: 1;
}
.search input::placeholder{
  color: #ccc;
  height: 22px;
  font-size: 16px;
}
/* 购物车 cart */
.cart{
  position: relative;
  margin-top: 18px;
}
.cart .iconfont{
  font-size: 35px;
}
.cart i{
  position: absolute;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  top: 4px;
  left: 20px;
  padding: 0 7px;
  background-color: #E26237;
  border-radius: 8px;
}

/* 底部 service */
.footer{
  height: 582px;
  background-color: #858585;

}
/* 服务 */
.service{
  height: 179px;
  border-bottom: 1px solid #381b8f;
}
.service ul{
  display: flex;
  height: 179px;
  justify-content: space-evenly;
  align-items: center;
}
.service li{
  height: 58px;
  background: url(../images/sprite.png) no-repeat;
  padding-left: 78px;
}
.service li:nth-child(2){
  background-position: 0 -58px;
}
.service li:nth-child(3){
  background-position: 0 -116px;
}
.service li:nth-child(4){
  background-position: 0 -174px;
}
.service h5{
  line-height: 58px;
  font-size: 28px;
}
/* 帮助中心 */
.help{
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  height: 302px;
}
.help dt{
  margin-bottom: 20px;
  font-size: 18px;
}
.help dd a{
  line-height: 32px;
  color: #90b931;
}
.help dd .iconfont{
  color: #5EB69C;
}
.help .right ul{
  display: flex;
  justify-content: space-between;
  width: 295px;
}
.help .right img{
  width: 120px;
  height: 120px;
  margin-bottom: 8px;
}
.help .right p{
  text-align: center;
  color: #3ec147;
}
/* 版权 */
.copyright{
  text-align: center;
}
.copyright p,
.copyright p a{
  color: #A1A1A1;
}
.copyright p{
  margin-bottom: 10px;
}

